%setBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

%setText {
    color: #FFF;
    font-family: PT Sans Caption;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1px;
    height: auto;
    width: auto;
    margin: 0;
}

.seasonwork {
    @extend %setBlock;
    flex-direction: column;
    gap: 84px;

    h1 {
        z-index: 10;
        @extend %setText;
        color: #008AC6;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -1.25px;
        text-transform: uppercase;

        span {
            color: #FF5E14; 
        }
    }

    section {
        background-image: url(../../assets/img/6mksbzfoza9x991m\ 1.png);
        background-size: cover;

        article {
            @extend %setBlock;
            flex-direction: column;
            gap: 40px;
            padding: 76px 163px 48px;
            background-color: rgba(0, 22, 89, 0.80);
    
            h3 {
                @extend %setText;
                text-align: center;
                font-size: 40px;
                letter-spacing: -2px;
    
                span {
                    color: #FF5E14;
                }
            }

            .art-card {
                @extend %setBlock;
                gap: 25px;
                width: 318px;

                div {
                    @extend %setBlock;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: space-around;

                    .art-icon {
                        width: 40px;
                        height: 40px;
                        color: #FFFFFF;
                    }

                    p {
                        @extend %setText;
                        letter-spacing: -1px;
                        margin: 31px auto;
                    }

                    div {
                        width: 318px;
                        height: 5px;
                        background: #FF6F53;
                    }
                }
            }
    
            .art-text {
                @extend %setBlock;
                flex-direction: column;
                gap: 25px;
    
                p {
                    @extend %setText;
                    font-weight: 700;
                    letter-spacing: -1px;
    
                    span {
                        color: #FF5E14;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
    
                button {
                    padding: 29px 23px;
                    background: #FF5E14;
                    @extend %setText;
                    text-align: center;
                    border: none;
                    line-height: normal;
                    filter: drop-shadow(0px 10px 13px rgba(255, 94, 20, 0.50));
                }
            }
        }
    }
}