%setBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

%setText {
    color: var(--dark-blue);
    font-family: 'PT Sans Caption';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.5px;
    height: auto;
    width: auto;
    margin: 0;
}

.questions {
    @extend %setBlock;
    flex-direction: column;

    h1 {
        @extend %setText;
        color: var(--primary-blue);
        text-align: center;
        font-size: 50px;
        line-height: 110%;
        text-transform: uppercase;

        span {
            color: var(--primary-orange);
        }
    }

    article {
        margin: 52px auto 88px;

        .accordion {
            border-bottom: 4px solid var(--dark-blue);

            .accordion-header {
                @extend %setBlock;
                flex-direction: row;
                justify-content: space-between;
                width: 1161px;
                cursor: pointer;
        
                h4 {
                    @extend %setText;
                }
            }
        
            p {
                margin-top: 20px;
                @extend %setText;
                font-size: 20px;
                width: 1161px;
            }
        }
    }
}