%setBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

%setText {
    color: var(--primary-white);
    font-family: 'PT Sans Caption';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    height: auto;
    width: auto;
    margin: 0;
}

.condition {
    position: relative;
    @extend %setBlock;
    flex-direction: column;

    img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .cond-head {
        @extend %setBlock;
        align-items: flex-start;
        padding: 50px 130px;
        align-self: flex-start;
        width: 860px;
        z-index: 2;

        h1 {
            @extend %setText;
            color: var(--primary-blue);
            text-align: center;
            font-size: 50px;

            span {
                color: var(--primary-orange);
                font-size: 36px;
            }
        }

        p {
            @extend %setText;
            color: var(--primary-black);
            font-family: 'PT Sans Caption';
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: none;

            span {
                color: var(--primary-orange);
            }
        }
    }

    .cond-body {
        @extend %setBlock;
        background-image: url(../../assets/img/grafik.png);
        background-size: cover;
        z-index: 2;

        .cond-body_color {
            @extend %setBlock;
            flex-direction: column;
            background: rgba(0, 22, 89, 0.90);
            padding: 52px 130px;
            gap: 54px;

            .cond-body_menu {
                @extend %setBlock;
                gap: 25px;
                align-items: flex-start;

                div {
                    @extend %setBlock;
                    flex-direction: column;
                    gap: 7px;
            
                    h3 {
                        @extend %setText;
                    }
            
                    h4 {
                        @extend %setText;
                        font-size: 70px;
                        letter-spacing: -4.9px;
                        text-transform: none;
                        width: 274px;
                        text-align: center;
                    }
            
                    h6 {
                        @extend %setText;
                        color: var(--primary-orange);
                        font-size: 28px;
                        text-transform: none;
                    }
            
                    p {
                        @extend %setText;
                        font-size: 20px;
                        text-transform: none;
                    }
                }
            }

            button {
                @extend %setText;
                color: var(--primary-white);
                text-align: center;
                font-weight: 400;
                padding: 18px;
                text-transform: uppercase;
                background: var(--primary-orange);
                box-shadow: 0px 10px 13px 0px rgba(255, 94, 20, 0.50);
                border: none;
                cursor: pointer;
            }

            button:hover {
                outline: 2px solid var(--primary-orange);
                background: var(--primary-white);
                color: var(--primary-orange);
            }
        }
    }
}