%setBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

%setText {
    width: auto;
    height: auto;
    margin: 0;
    color: #FFF;
    text-align: right;
    font-family: PT Sans Caption;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
}

header {
    @extend %setBlock;
    background-image: url(../../assets/img/fon-1.png);
    background-size: cover;

    .mainText {
        @extend %setBlock;
        flex-direction: column;
        margin: 307px 293px 263px 237px;
    }

    .landing {
        @extend %setBlock;
        gap: 21.56px;

        h4 {
            @extend %setText;
        }

        h3 {
            @extend %setText;
            width: 760px;
            height: 112px;
            font-size: 115px;
            line-height: 94%;
            letter-spacing: -4px;
            text-align: justify;
        }
    }

    p {
        @extend %setText;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -0.15px;
    }
}