%setBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

%setText {
    color: var(--primary-white);
    font-family: 'PT Sans Caption';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: auto;
    height: auto;
    margin: 0;
}

footer {
    @extend %setBlock;
    flex-direction: column;

    h1 {
        @extend %setText;
        color: var(--primary-blue);
        text-align: center;
        font-size: 40px;
        line-height: 104.4%;
        margin: 45px auto;

        span {
            color: var(--primary-orange);
        }
    }

    article {
        @extend %setBlock;
        flex-direction: column;
        background: var(--dark-blue);
        padding: 30px 50px;

        h2 {
            @extend %setText;
            height: 48px;
            letter-spacing: 0.65px;
            text-transform: uppercase;
        }
    
        section {
            @extend %setBlock;
            flex-direction: row;
            gap: 23px;
            align-items: flex-start;
    
            .form-reg {
                @extend %setBlock;
                gap: 25px;
            }
        }
    
        .copyright {
            @extend %setText;
            font-size: 10px;
            color: var(--primary-blue);
            text-align: center;
            font-weight: 400;
        }
    } 
}