%setBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

%setText {
    color: #FFF;
    font-family: PT Sans Caption;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.3px;
    height: auto;
    width: auto;
    margin: 0;
}

.garantee {
    @extend %setBlock;
    flex-direction: column;
    gap: 43px;

    header {
        @extend %setBlock;
        flex-direction: column;
        gap: 5px;
        background: none;
        margin-top: 25px;

        h1 {
            @extend %setText;
            color: #008AC6;
            text-align: center;
            font-size: 50px;
            font-weight: 700;
            line-height: 110%;
        }

        p {
            @extend %setText;
            color: #001659;
            text-align: center;
        }
    }

    .line-gara {
        align-self: stretch;
        height: 238px;
        width: auto;
        background: #001659;
        margin: 141px auto;

        main {
            height: 510px;
            @extend %setBlock;
            flex-direction: row;
            padding: 0 72px;
            gap: 55px;
    
            .ipod {
                @extend %setBlock;
                flex-direction: row;
                gap: 69px;
    
                div {
                    width: auto;
                    height: auto;
                }
    
                img {
                    width: auto;
                    height: auto;
                }
            }

            .list-gar {
                @extend %setBlock;
                flex-direction: row;
                align-items: flex-start;
                gap: 0px;

                img {
                    width: auto;
                    height: auto;
                }
                
                div {
                    @extend %setBlock;
                    flex-direction: column;
                    align-items: flex-start;

                    ul {
                        li {
                            width: 450px;
                            color: #FF5E14;
                
                            h5 {
                                @extend %setText;
                                color: #FFF;
                                text-align: justify;
                                margin-bottom: 40px;
                            }
                        }
                    }
                
                    ul {
                        li {
                            width: 450px;
                            color: #FF5E14;
                            h6 {
                                @extend %setText;
                                color: #000;
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
    }
}